div
  h1 view 1
  ul
    li Here is some content
    li Here is some content
    li Here is some content    
    li Here is some content
    li Here is some content

  img(
  	src="http://www.imagesdoc.com/var/bayard/storage/images/smk/images-doc/images/images-doc-plus/que-vois-tu/photo-mystere-1-image-1/24513094-1-fre-FR/Photo-mystere-1-Image-1.jpg"
    width="70"
    height="70"
  )
