div
  h2 view 1
  | Hello 
  a(tooltip="coucou") hello
  img(src="http://www.imagesdoc.com/var/bayard/storage/images/smk/images-doc/images/images-doc-plus/que-vois-tu/photo-mystere-1-image-1/24513094-1-fre-FR/Photo-mystere-1-Image-1.jpg")
