{
  "name": "<%= app_name %>",
  "version": "<%= app_version %>",
  "main":[""],
  "ignore": [
    "**/.*",
    "node_modules",
    "public/js/libs"
  ],
  "devDependencies": {
    "angular-animate": "~1.2.16",
    "angular-bootstrap": "~0.11.0",
    "bootstrap": "~3.2.0",
    "jquery": "~2.1.1",
    "sdco-editor":"file:///d/work/javascript/angular/perso/codemirror_angular/.git"
  }
}
