doctype html
html(ng-app="blogApp" ng-controller="mainController")
  head
    link(rel="stylesheet" href="js/libs/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="stylesheets/animations.css")
    link(rel="stylesheet" href="stylesheets/style.css")
    link(rel="stylesheet" href="js/libs/codemirror/lib/codemirror.css")
  body(
    custom-event-actions
    current-index="currentIndex"
  )
    block content
    script(src="js/libs/jquery/dist/jquery.js")
    script(src="js/libs/codemirror/lib/codemirror.js")
    script(src="js/libs/codemirror/mode/javascript/javascript.js")
    script(src="js/libs/angular/angular.js" type="text/javascript")
    script(src="js/libs/angular-route/angular-route.js" type="text/javascript")
    script(src="js/libs/angular-animate/angular-animate.js" type="text/javascript")
    script(src="js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript")
    script(src="js/app.js" type="text/javascript")
    script(src="js/services/infosSlidesService.js" type="text/javascript")
    script(src="js/services/slidesNavigatorService.js" type="text/javascript")
    script(src="js/services/animationManagerService.js" type="text/javascript")
    script(src="js/directives/moveSlideDirective.js" type="text/javascript")
    script(src="js/directives/customEventActions.js" type="text/javascript")
    script(src="js/directives/updatableProgressBar.js" type="text/javascript")
    script(src="js/controllers/mainController.js" type="text/javascript")
