

body{
	font-size: x-large;
}

/* transverse rules */
nav > h1{
	height: 0;
	margin-left: -1000px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}


/* NAVIGATION */
 button.left-link, button.right-link{
 	position:absolute;
 	top:100px;
 	width: 48px;
 	height:48px;
  	background: transparent;
    border: none;
 }

   button.left-link{
 	left:0px;	
 	background-image: url("../images/navigate-left-icon3.png");
 }

  button.right-link{
 	right:0px; 
 	background-image: url("../images/navigate-right-icon3.png");
 }

/* view content */
.view-content{
	margin-left: 50px;
	margin-right: 50px;
	padding: 0 1em 0.5em 1em;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;	
	border-left: 3px solid #DFDFDF;
}

.view-content  h1{
	margin-left: 1em;
	color:#0040CA;

}