<div>
	<h1> Editor Demo </h1>

	<ul>
		<li>
			Sometimes, we don't want the compilation to be done each
			time a key is pressed, use the compile on demand for that.
			The value <code>compile-on-demand</code> is a parameter of the
			directive, and can be modified dynamically by the user in the UI.
		</li>
		<li>
			In some contexts, the "hot compilation" doesn't work fine 
			(angular directives for example).
			In such a case, the user can use the jsFiddle option which
			will open the editor content in jsFiddle.
			Use the <code>js-fiddle</code> parameter to display it or not
			by default, it can still be modified dynamically by the user
		</li>
	</ul>

  <sdco-editor compile="true" compile-on-demand="true" width="800px" height="150px" js-fiddle="true">
  	<sdco-editor-tab type="html" heading="sample.html">
&lt;p id="theParagraph"&gt; 
I am a paragraph which is not loaded when the
javascript compiles
&lt;/p&gt; 
  	</sdco-editor-tab>
  	<sdco-editor-tab type="javascript" heading="sample.js">
document.getElementById('theParagraph').innerText='modified';
  	</sdco-editor-tab> 
  </sdco-editor>

</div>