<div>
  <h1> view 2 </h1>

  <ul>
  	<li>
  		An other note to check it works on several views 
  		<sdco-notes>An other </sdco-notes>
  	</li>
  	<li>Here is an editor, look à the right icon which gives some options to the user</li>
  	<li>If you modify the editor content, change the view, and go back to this one, your modifications are still there</li>
  </ul>

  <sdco-editor compile="false" width="800px" height="300px">
  	<sdco-editor-tab type="javascript" heading="myFile.js">
console.log('yo man');
  	</sdco-editor-tab>
  </sdco-editor>


</div>
