<div>
  <h1> view 1 </h1>
  <ul>
    <li> Here is some content </li>
    <li> 
      Here I want to add a note
      <sdco-notes>
        I have so much remarks to do on this slide. <br/>
        I have so much remarks to do on this slide. <br/>
        I have so much remarks to do on this slide. <br/>
        I have so much remarks to do on this slide. <br/>
      </sdco-notes>
    </li>
    <li> 
      And I can do it everywhere I want
      <sdco-notes>
        Remember that: blablabla
      </sdco-notes>
    </li>
    <li> Here is some content </li>
    <li> Here is some content </li>
  </ul>

  <img
  	src="http://www.imagesdoc.com/var/bayard/storage/images/smk/images-doc/images/images-doc-plus/que-vois-tu/photo-mystere-1-image-1/24513094-1-fre-FR/Photo-mystere-1-Image-1.jpg"
    width="70"
    height="70"
  />
</div>